@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  input,
  range,
  select {
    @apply w-full border border-zinc-200 rounded;
  }

  input[type="text"] {
    @apply px-1;
  }

  input[type="checkbox"] {
    @apply w-auto;
  }

  input[type="range"] {
    @apply bg-blue-500;
  }

  input[type="radio"] {
    @apply w-auto;
    height: 100%;
    vertical-align: middle;
  }
}

@layer tooltips {
  .v-popper--theme-tooltip {
    max-width: 30em;
    font-size: 90%;
  }
}
