@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  main a {
    @apply text-blue-600;
  }

  input,
  range,
  select {
    @apply w-full border bg-white dark:bg-stone-800 border-zinc-200 dark:border-stone-600 rounded;
  }

  input[type="text"] {
    @apply px-1;
  }

  input[type="checkbox"] {
    @apply w-auto;
  }

  input[type="range"] {
    @apply bg-blue-500;
  }

  input[type="radio"] {
    @apply w-auto;
    height: 100%;
    vertical-align: middle;
  }

  ul {
    @apply list-disc m-0 ml-6;
  }
}

@layer tooltips {
  .v-popper--theme-tooltip {
    max-width: 30em;
    font-size: 90%;
  }
}
