/* Grid */
.headers {
  display: grid;
  grid-template-columns: 1fr;
}

.panes {
  display: grid;
  grid-template-columns: 1fr;
}

.onlywide {
  display: none;
}

/* Make headers switch to two columns on narrow screens */
@media (min-width: 450px) {
  .headers {
    grid-template-columns: 1fr 1fr;
  }
}

/* Make headers switch to two columns on narrow screens */
@media (min-width: 800px) {
  .headers {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Make notifications appear in the top when wide and bottom when narrow */
@media (min-width: 450px) {
  #app #notifications {
    top: 0;
    right: 0;
    width: 500px;
  }
}

@media (max-width: 450px) {
  #notifications {
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1100px) {
  .onlywide {
    display: block;
  }

  .onlynarrow {
    display: none;
  }
}

/* Make panes switch to two columns on wide screens */
@media (min-width: 1250px) {
  .panes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 2400px) {
  .panes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Share */
#share {
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: right;
}

#share input {
  width: 14rem;
}

/* Headers */
.header {
  margin: 0.25rem 0.5rem;
  border-radius: 5px;
}

.header input {
  margin-top: 0;
  margin-bottom: 0;
}

/* Extra inner container div to avoid showing big empty boxes when collapsed */
.header > div {
  background-color: var(--c-background);
  border: 1px solid var(--c-border);
  border-radius: 5px;
}

.header .header-title {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.header-title:hover {
  background-color: var(--c-secondary);
}

.header .header-items {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.25rem;
  grid-column-gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid var(--c-border);
}

.header .header-items div {
  line-height: 1.2rem;
}

#extraskillcredits div.header-items {
  display: block;
}

#extraskillcredits.header ul li {
  margin: 0.25rem 0;
}

.header .header-items.alt {
  grid-template-columns: 3fr 1fr;
}

.header .header-items.alt-twocol {
  grid-template-columns: 1fr 1fr;
}

.header .header-items.alt-onecol {
  grid-template-columns: 1fr;
}

.header h3 {
  display: inline;
}

/* Panes */
.pane {
  margin: 0.25rem 0.5rem;
  overflow-x: auto;
}

/* Extra inner container div to avoid showing big empty boxes when collapsed */
.pane > div {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  background-color: var(--c-background);
}

.pane .pane-header,
.header .header-title {
  display: grid;
  grid-template-columns: auto auto;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  align-items: center;
}

.pane-header:hover {
  background-color: var(--c-secondary);
}

.pane .pane-header div h3 {
  margin: 0;
  padding: 0;
  font-size: 120%;
  display: inline;
  margin-right: 1rem;
}

.pane .table-wrapper {
  padding: 0rem 0.5rem;
  border-top: 1px solid var(--c-border);
  max-height: 25rem;
  overflow-y: auto;
}

.pane .table-wrapper ul {
  margin: 0.5rem 0;
}

#attributes input[type="range"],
#vitals input[type="range"],
#skills input[type="range"] {
  width: 3rem;
}

tr.controls th {
  background-color: var(--c-secondary);
}

/* Utility classes */
th.number,
td.number {
  min-width: 2rem;
}

.number input,
input.number {
  width: 2rem;
}

.bignumber input {
  width: 2em;
}
.isBuffed {
  color: green;
  font-weight: bold;
}

.base {
  border-left: 1px solid var(--c-border);
  padding-left: 8px;
}

.buffed {
  border-right: 1px solid var(--c-border);
}

.buttons {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons button:hover {
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: background-color;
}

.buttons button:last-child {
  margin-right: 0;
}

.breadcrumb {
  margin-bottom: 0.5rem;
}

/* Stages */
.header.header-stages {
  padding-bottom: 0;
}

#stages {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 0;
  row-gap: 0.5rem;
}

.stage div {
  display: inline-block;
}

.stage button {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  height: 1.5rem;
}

.stage-level {
  cursor: pointer;
  border-radius: 3px 0px 0px 3px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--c-button-border);
  min-width: 2.25rem;
  text-align: center;
  background-color: var(--c-secondary);
  color: var(--c-text);
}

.stage-level.selected {
  background-color: var(--c-button);
  color: var(--c-secondary);
}

.stage-delete {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  min-width: auto;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid var(--c-button-border);
  fill: var(--c-text);
}

.stage-delete svg {
  padding: 3px 3px 1px 3px;
}

.stage-line {
  border: 0;
  height: 2px;
  background: var(--c-button-border);
  min-width: 2rem;
  margin: 0.18rem 0;
}

.stage-new {
  border: 1px solid var(--c-button-border);
  border-radius: 3px;
  cursor: pointer;
}

.dragging {
  background-color: var(--c-button-hover);
}

.faded {
  color: #777;
  width: 100px;
  font-size: 80%;
}

/* Width helpers */
.w30 {
  width: 30%;
}

.w40 {
  width: 30%;
}

.w50 {
  width: 60%;
}
.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w100 {
  width: 100%;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* General stuff */
table {
  width: 100%;
}

input,
select,
button {
  border: 1px solid var(--c-border);
  font-size: 100%;
  border-radius: 3px;
  vertical-align: middle;
  box-sizing: border-box;
}

input,
select {
  color: var(--c-text);
  background-color: var(--c-background);
}

/* Checkboxes look better with baseline alignment */
input[type="checkbox"] {
  vertical-align: baseline;
}

button {
  background-color: var(--c-button);
  border: 1px solid var(--c-button-border);
  color: var(--c-button-text);
  padding: 0.15rem 0.25rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--c-button-hover);
}

button.button-icononly {
  background-color: inherit;
  border: none;
  padding: 0;
  color: var(--c-text);
}
button a,
button a:visited {
  color: var(--c-button-text);
}

button.button-error {
  background-color: var(--c-button-error);
  border: 1px solid var(--c-button-error-border);
  color: var(--c-button-error-text);
  padding: 0.25rem 0.5rem;
}
button.button-error:hover {
  background-color: var(--c-button-error-hover);
}

table {
  border-collapse: collapse;
  margin: 0;
}

td,
th {
  padding: 1px 3px;
  text-align: left;
  white-space: nowrap;
  height: 1.5rem;
}

th input,
td input,
th select,
td select {
  width: 100%;
}

#planner img {
  clip-path: circle(10px at center);
  max-width: inherit;
}

/* Utility classes */
.error {
  color: red;
  font-weight: bold;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.right {
  text-align: right;
}

.right abbr {
  margin-left: 0.5rem;
}

.inline {
  display: inline-block;
}

/* Notifications */
#notifications {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}

.notification {
  position: relative;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.notification.success {
  border: 1px solid green;
  background-color: rgba(0, 150, 0, 0.95);
}

.notification.info {
  border: 1px solid yellow;
  background-color: rgba(200, 200, 0, 0.95);
  color: black;
}

.notification.error {
  border: 1px solid red;
  background-color: rgba(150, 0, 0, 0.9);
}

/* Builds */
#builds h2 {
  margin-bottom: 1.5rem;
}

#builds ul {
  list-style-type: "\1F539";
  margin-left: 0.5rem;
}

#builds li {
  border-radius: 5px;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

.main-pane {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  max-width: 30rem;
  background-color: var(--c-background);
}

.main-pane .main-pane-header {
  border-bottom: 1px solid var(--c-border);
  padding: 0.25rem 0.5rem;
}

.main-pane .main-pane-header h3 {
  margin: 0;
  padding: 0;
}

.main-pane-body {
  padding: 0.5rem;
}

.main-pane table {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  width: auto;
}

.main-pane th {
  border-bottom: 1px solid var(--c-border);
}

.main-pane th,
.main-pane td {
  padding: 0 0.25rem;
}

.main-pane p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.main-pane p:last-child {
  margin-bottom: 0;
}

.loading {
  background-color: var(--c-secondary);
  /* animation: loadingpulse 5s ease-in-out infinite; */
}

@keyframes loadingpulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Saved Build */
.saved-build {
  margin-bottom: 1.5rem;
}

/* Modals */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 1rem;
  background-color: var(--c-background);
  border: 1px solid var(--c-border);
  border-radius: 3px;
  box-shadow: 2px var(--c-text);
  transition: all 0.3s ease;
}

.modal-header {
  font-weight: bold;
}

.modal-header div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-body {
  padding-top: 1.5em;
  line-height: 1.5em;
}
.modal-footer {
  text-align: right;
  padding-top: 1.5em;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.share-modal {
  text-align: center;
}

.share-modal input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

.share-modal-status {
  margin: 0 auto;
  padding: 0.5rem 0;
}

/* Build Loader */
.build-loader {
  background-color: var(--c-background);
  margin: 1rem auto;
  border: 1px solid var(--c-border);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  min-height: 3rem;
}

.build-loader span {
  animation: loadingpulse 1s ease-in-out infinite;
}

/* Tooltips */
.tip {
  background-color: var(--c-tip-background);
  color: var(--c-tip-text);
  border: 1px solid var(--c-tip-border);
  border-radius: 3px;
  padding: 0px 0.5em;
  cursor: pointer;
}

.tip.tip-red {
  background-color: rgba(150, 0, 0, 0.9);
  color: white;
}

.v-popper--theme-tooltip {
  max-width: 30em;
}

/* Releases */
.releases {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-pane .release ul {
  list-style-type: disc;
  margin-left: 1.5em;
}

.release-body {
  max-width: 100%;
  word-break: break-word;
  font-family: inherit;
}
