/* Dark/light mode */
:root {
  /* Light theme */
  --c-light-text: black;
  --c-light-text-active: rgb(120, 120, 120);
  --c-light-background: white;
  --c-light-secondary: #eee;
  --c-light-focus: deepskyblue;
  --c-light-interactive: blue;
  --c-light-border: #ccc;
  --c-light-button: rgb(35, 134, 54);
  --c-light-button-border: rgb(46, 160, 67);
  --c-light-button-text: rgb(255, 255, 255);
  --c-light-button-hover: rgb(17, 177, 49);
  --c-light-button-error: rgb(220, 20, 20);
  --c-light-button-error-border: rgb(255, 0, 0);
  --c-light-button-error-text: rgb(240, 240, 240);
  --c-light-button-error-hover: rgb(255, 0, 0);
  --c-icon-sun: url('data:image/svg+xml,\
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">\
    <path d="M18 12c0-0.811-0.161-1.587-0.455-2.295-0.304-0.735-0.75-1.395-1.303-1.948-0.552-0.552-1.213-0.998-1.948-1.303-0.707-0.293-1.483-0.454-2.294-0.454s-1.587 0.161-2.295 0.455c-0.735 0.304-1.395 0.75-1.948 1.302s-0.998 1.213-1.302 1.948c-0.294 0.708-0.455 1.484-0.455 2.295s0.161 1.587 0.455 2.295c0.304 0.735 0.75 1.395 1.303 1.948 0.552 0.552 1.213 0.998 1.948 1.303 0.707 0.293 1.483 0.454 2.294 0.454s1.587-0.161 2.295-0.455c0.735-0.304 1.395-0.75 1.948-1.303s0.998-1.213 1.303-1.948c0.293-0.707 0.454-1.483 0.454-2.294zM16 12c0 0.544-0.108 1.060-0.303 1.529-0.202 0.489-0.5 0.929-0.869 1.299s-0.81 0.667-1.299 0.869c-0.469 0.195-0.985 0.303-1.529 0.303s-1.060-0.108-1.529-0.303c-0.489-0.202-0.929-0.5-1.299-0.869s-0.667-0.81-0.869-1.299c-0.195-0.469-0.303-0.985-0.303-1.529s0.108-1.060 0.303-1.529c0.202-0.489 0.5-0.929 0.869-1.299s0.81-0.667 1.299-0.869c0.469-0.195 0.985-0.303 1.529-0.303s1.060 0.108 1.529 0.303c0.489 0.202 0.929 0.5 1.299 0.869s0.667 0.81 0.869 1.299c0.195 0.469 0.303 0.985 0.303 1.529zM11 1v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM11 21v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM3.513 4.927l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM17.653 19.067l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM1 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM21 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4.927 20.487l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0zM19.067 6.347l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0z"></path>\
  </svg>');
  --c-icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg)
    brightness(0.92);
  --c-light-tip-border: rgba(200, 200, 0, 0.75);
  --c-light-tip-background: rgba(255, 255, 0, 0.75);
  --c-light-tip-text: black;

  /* Dark theme */
  --c-dark-text: #eee;
  --c-dark-text-active: rgb(200, 200, 200);
  --c-dark-background: black;
  --c-dark-secondary: rgb(25, 25, 25);
  --c-dark-focus: deeppink;
  --c-dark-interactive: #3282dd;
  --c-dark-border: rgb(50, 50, 50);
  --c-dark-button: rgb(35, 134, 54);
  --c-dark-button-border: rgb(46, 160, 67);
  --c-dark-button-text: rgb(255, 255, 255);
  --c-dark-button-hover: rgb(17, 177, 49);
  --c-dark-button-error: rgb(220, 20, 20);
  --c-dark-button-error-border: rgb(255, 0, 0);
  --c-dark-button-error-text: rgb(240, 240, 240);
  --c-dark-button-error-hover: rgb(255, 0, 0);
  --c-icon-moon: url('data:image/svg+xml,\
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24">\
    <path d="M21.996 12.882c0.022-0.233-0.038-0.476-0.188-0.681-0.325-0.446-0.951-0.544-1.397-0.219-0.95 0.693-2.059 1.086-3.188 1.162-0.696 0.047-1.399-0.027-2.077-0.226-0.656-0.192-1.29-0.501-1.874-0.932-0.655-0.484-1.181-1.074-1.575-1.729-0.409-0.68-0.676-1.432-0.792-2.206s-0.082-1.571 0.11-2.342c0.184-0.741 0.514-1.46 0.999-2.115 0.142-0.191 0.216-0.435 0.191-0.691-0.053-0.55-0.542-0.952-1.092-0.898-1.117 0.109-2.186 0.399-3.172 0.843-1.005 0.452-1.925 1.065-2.723 1.808-0.883 0.82-1.618 1.801-2.159 2.901-0.523 1.064-0.863 2.238-0.978 3.485-0.125 1.347 0.024 2.658 0.402 3.878 0.392 1.266 1.031 2.431 1.863 3.433s1.86 1.843 3.033 2.461c1.13 0.595 2.392 0.982 3.739 1.106s2.659-0.025 3.878-0.403c1.266-0.392 2.431-1.031 3.433-1.863s1.843-1.86 2.461-3.033c0.595-1.13 0.982-2.392 1.106-3.739zM19.567 14.674c-0.126 0.351-0.276 0.689-0.447 1.014-0.493 0.937-1.166 1.76-1.969 2.427s-1.735 1.178-2.747 1.491c-0.973 0.302-2.021 0.421-3.102 0.321s-2.089-0.41-2.99-0.884c-0.937-0.493-1.76-1.166-2.427-1.969s-1.178-1.735-1.491-2.747c-0.302-0.973-0.421-2.021-0.321-3.102 0.092-1 0.365-1.938 0.782-2.786 0.43-0.878 1.018-1.661 1.725-2.319 0.64-0.595 1.377-1.086 2.183-1.449 0.179-0.081 0.362-0.155 0.548-0.223-0.092 0.257-0.171 0.516-0.236 0.778-0.256 1.029-0.302 2.091-0.147 3.121s0.51 2.032 1.056 2.941c0.527 0.875 1.23 1.663 2.1 2.306 0.775 0.573 1.622 0.986 2.5 1.243 0.907 0.266 1.846 0.364 2.772 0.302 0.752-0.050 1.496-0.207 2.21-0.465z"></path>\
  </svg>');
  --c-icon-moon-filter: invert(0.75);
  --c-dark-tip-border: rgba(200, 200, 0, 0.5);
  --c-dark-tip-background: rgba(255, 255, 0, 0.5);
  --c-dark-tip-text: white;
}

#app {
  /* Make the light theme the default */
  --c-text: var(--c-light-text);
  --c-text-active: var(--c-light-text-active);
  --c-background: var(--c-light-background);
  --c-secondary: var(--c-light-secondary);
  --c-focus: var(--c-light-focus);
  --c-interactive: var(--c-light-interactive);
  --c-border: var(--c-light-border);
  --c-button: var(--c-light-button);
  --c-button-border: var(--c-light-button-border);
  --c-button-text: var(--c-light-button-text);
  --c-button-hover: var(--c-light-button-hover);
  --c-button-error: var(--c-light-button-error);
  --c-button-error-border: var(--c-light-button-error-border);
  --c-button-error-text: var(--c-light-button-error-text);
  --c-button-error-hover: var(--c-light-button-error-hover);
  --c-icon: var(--c-icon-moon);
  --c-icon-filter: var(--c-icon-moon-filter);
  --c-tip-border: var(--c-light-tip-border);
  --c-tip-background: var(--c-light-tip-background);
  --c-tip-text: var(--c-light-tip-text);

  color: var(--c-text);
  background-color: var(--c-secondary);

  flex-grow: 1; // Makes light/dark work
}

@media (prefers-color-scheme: dark) {
  #app {
    --c-text: var(--c-dark-text);
    --c-text-active: var(--c-dark-text-active);
    --c-background: var(--c-dark-background);
    --c-secondary: var(--c-dark-secondary);
    --c-focus: var(--c-dark-focus);
    --c-interactive: var(--c-dark-interactive);
    --c-border: var(--c-dark-border);
    --c-button: var(--c-dark-button);
    --c-button-border: var(--c-dark-button-border);
    --c-button-text: var(--c-dark-button-text);
    --c-button-hover: var(--c-dark-button-hover);
    --c-button-error: var(--c-dark-button-error);
    --c-button-error-border: var(--c-dark-button-error-border);
    --c-button-error-text: var(--c-dark-button-error-text);
    --c-button-error-hover: var(--c-dark-button-error-hover);
    --c-icon: var(--c-icon-sun);
    --c-icon-filter: var(--c-icon-sun-filter);
    --c-tip-border: var(--c-dark-tip-border);
    --c-tip-background: var(--c-dark-tip-background);
    --c-tip-text: var(--c-dark-tip-text);
  }
}

#app.light {
  --c-text: var(--c-light-text);
  --c-text-active: var(--c-light-text-active);
  --c-background: var(--c-light-background);
  --c-secondary: var(--c-light-secondary);
  --c-focus: var(--c-light-focus);
  --c-interactive: var(--c-light-interactive);
  --c-border: var(--c-light-border);
  --c-button: var(--c-light-button);
  --c-button-border: var(--c-light-button-border);
  --c-button-text: var(--c-light-button-text);
  --c-button-hover: var(--c-light-button-hover);
  --c-button-error: var(--c-light-button-error);
  --c-button-error-border: var(--c-light-button-error-border);
  --c-button-error-text: var(--c-light-button-error-text);
  --c-button-error-hover: var(--c-light-button-error-hover);
  --c-icon: var(--c-icon-moon);
  --c-icon-filter: var(--c-icon-moon-filter);
  --c-tip-border: var(--c-light-tip-border);
  --c-tip-background: var(--c-light-tip-background);
  --c-tip-text: var(--c-light-tip-text);
}

#app.dark {
  --c-text: var(--c-dark-text);
  --c-text-active: var(--c-dark-text-active);
  --c-background: var(--c-dark-background);
  --c-secondary: var(--c-dark-secondary);
  --c-focus: var(--c-dark-focus);
  --c-interactive: var(--c-dark-interactive);
  --c-border: var(--c-dark-border);
  --c-button: var(--c-dark-button);
  --c-button-border: var(--c-dark-button-border);
  --c-button-text: var(--c-dark-button-text);
  --c-button-hover: var(--c-dark-button-hover);
  --c-button-error: var(--c-dark-button-error);
  --c-button-error-border: var(--c-dark-button-error-border);
  --c-button-error-text: var(--c-dark-button-error-text);
  --c-button-error-hover: var(--c-dark-button-error-hover);
  --c-icon: var(--c-icon-sun);
  --c-icon-filter: var(--c-icon-sun-filter);
  --c-tip-border: var(--c-dark-tip-border);
  --c-tip-background: var(--c-dark-tip-background);
  --c-tip-text: var(--c-dark-tip-text);
}

button.theme-toggle {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background: var(--c-icon);
  color: var(--c-text);
  border: none;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0 0 0.5em;
  padding: 0.25rem;
  filter: var(--icon-filter);
  transform: translateY(1px); /* Optical adjustment */
  transition: filter 500ms ease-in-out;
}

/* Grid */
.headers {
  display: grid;
  grid-template-columns: 1fr;
}

.panes {
  display: grid;
  grid-template-columns: 1fr;
}

.onlywide {
  display: none;
}

/* Make headers switch to two columns on narrow screens */
@media (min-width: 450px) {
  .headers {
    grid-template-columns: 1fr 1fr;
  }
}

/* Make headers switch to two columns on narrow screens */
@media (min-width: 800px) {
  .headers {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Make notifications appear in the top when wide and bottom when narrow */
@media (min-width: 450px) {
  #app #notifications {
    top: 0;
    right: 0;
    width: 500px;
  }
}

@media (max-width: 450px) {
  #notifications {
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1100px) {
  .onlywide {
    display: block;
  }

  .onlynarrow {
    display: none;
  }
}

/* Make panes switch to two columns on wide screens */
@media (min-width: 1250px) {
  .panes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 2400px) {
  .panes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Share */
#share {
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: right;
}

#share input {
  width: 14rem;
}

/* Headers */
.header {
  margin: 0.25rem 0.5rem;
  border-radius: 5px;
}

.header input {
  margin-top: 0;
  margin-bottom: 0;
}

/* Extra inner container div to avoid showing big empty boxes when collapsed */
.header > div {
  background-color: var(--c-background);
  border: 1px solid var(--c-border);
  border-radius: 5px;
}

.header .header-title {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.header-title:hover {
  background-color: var(--c-secondary);
}

.header .header-items {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.25rem;
  grid-column-gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid var(--c-border);
}

.header .header-items div {
  line-height: 1.2rem;
}

#extraskillcredits div.header-items {
  display: block;
}

#extraskillcredits.header ul li {
  margin: 0.25rem 0;
}

.header .header-items.alt {
  grid-template-columns: 3fr 1fr;
}

.header .header-items.alt-twocol {
  grid-template-columns: 1fr 1fr;
}

.header .header-items.alt-onecol {
  grid-template-columns: 1fr;
}

.header h3 {
  display: inline;
}

/* Panes */
.pane {
  margin: 0.25rem 0.5rem;
  overflow-x: auto;
}

/* Extra inner container div to avoid showing big empty boxes when collapsed */
.pane > div {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  background-color: var(--c-background);
}

.pane .pane-header,
.header .header-title {
  display: grid;
  grid-template-columns: auto auto;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  align-items: center;
}

.pane-header:hover {
  background-color: var(--c-secondary);
}

.pane .pane-header div h3 {
  margin: 0;
  padding: 0;
  font-size: 120%;
  display: inline;
  margin-right: 1rem;
}

.pane .table-wrapper {
  padding: 0rem 0.5rem;
  border-top: 1px solid var(--c-border);
  max-height: 25rem;
  overflow-y: auto;
}

.pane .table-wrapper ul {
  margin: 0.5rem 0;
}

#attributes input[type="range"],
#vitals input[type="range"],
#skills input[type="range"] {
  width: 3rem;
}

tr.controls th {
  background-color: var(--c-secondary);
}

/* Utility classes */
th.number,
td.number {
  min-width: 2rem;
}

.number input,
input.number {
  width: 2rem;
}

.isBuffed {
  color: green;
  font-weight: bold;
}

.base {
  border-left: 1px solid var(--c-border);
  padding-left: 8px;
}

.buffed {
  border-right: 1px solid var(--c-border);
}

.buttons {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons button:hover {
  // background-color: var(--c-button-hover);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: background-color;
}

.buttons button:last-child {
  margin-right: 0;
}

.breadcrumb {
  margin-bottom: 0.5rem;
}

/* Stages */
.header.header-stages {
  padding-bottom: 0;
}

#stages {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 0;
  row-gap: 0.5rem;
}

.stage div {
  display: inline-block;
}

.stage button {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  height: 1.5rem;
}

.stage-level {
  cursor: pointer;
  border-radius: 3px 0px 0px 3px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--c-button-border);
  min-width: 2.25rem;
  text-align: center;
  background-color: var(--c-secondary);
  color: var(--c-text);
}

.stage-level.selected {
  background-color: var(--c-button);
  color: var(--c-secondary);
}

.stage-delete {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  min-width: auto;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid var(--c-button-border);
  fill: var(--c-text);
}

.stage-delete svg {
  padding: 3px 3px 1px 3px;
}

.stage-line {
  border: 0;
  height: 2px;
  background: var(--c-button-border);
  min-width: 2rem;
  margin: 0.18rem 0;
}

.stage-new {
  border: 1px solid var(--c-button-border);
  border-radius: 3px;
  cursor: pointer;
}

.dragging {
  background-color: var(--c-button-hover);
}

.faded {
  color: #777;
  width: 100px;
  font-size: 80%;
}

/* Width helpers */
.w30 {
  width: 30%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w100 {
  width: 100%;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Light gold
rgba(254, 253, 209, 1); */
/* Navy blue
rgba(0, 2, 49, 1) */
/* Darker gold
rgba(249, 205, 118, 1); */
/* Real gold
rgba(197, 153, 51, 1); */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main,
footer {
  background-color: var(--c-secondary);
}

main > div {
  padding: 0.5rem;
}

footer {
  text-align: center;
  padding: 0.5em 0;
  background-color: var(--c-background);
  border-top: 1px solid var(--c-border);
}

#vue {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* General stuff */
table {
  width: 100%;
}

input,
select,
button {
  border: 1px solid var(--c-border);
  font-size: 100%;
  border-radius: 3px;
  vertical-align: middle;
  box-sizing: border-box;
}

input,
select {
  color: var(--c-text);
  background-color: var(--c-background);
}

/* Checkboxes look better with baseline alignment */
input[type="checkbox"] {
  vertical-align: baseline;
}

button {
  background-color: var(--c-button);
  border: 1px solid var(--c-button-border);
  color: var(--c-button-text);
  padding: 0.25rem 0.5rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--c-button-hover);
}

// Link inside a button
button a,
button a:visited {
  color: var(--c-button-text);
}

// Button with error context
button.button-error {
  background-color: var(--c-button-error);
  border: 1px solid var(--c-button-error-border);
  color: var(--c-button-error-text);
  padding: 0.25rem 0.5rem;
}
button.button-error:hover {
  background-color: var(--c-button-error-hover);
}

table {
  border-collapse: collapse;
  margin: 0;
}

td,
th {
  padding: 1px 3px;
  text-align: left;
  white-space: nowrap;
  height: 1.5rem;
}

th input,
td input,
th select,
td select {
  width: 100%;
}

#planner img {
  clip-path: circle(10px at center);
}

p {
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 500;
}

a,
a:visited {
  color: var(--c-interactive);
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

header > div:last-child {
  text-align: right;
}

header > div:last-child a {
  margin-left: 0.5rem;
}

header a,
header a:visited {
  color: var(--c-text);
  text-decoration: none;
}

header a:hover {
  color: var(--c-text-active);
}

header .logo {
  margin-right: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  margin-right: 0.25rem;
  padding: 0.75rem 0.5rem;
}

a.link-discord,
a:visited.link-discord {
  color: rgb(95, 114, 209);
}

a.link-github,
a:visited.link-github {
  color: black;
}

/* Utility classes */
.error {
  color: red;
  font-weight: bold;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.right {
  text-align: right;
}

.right abbr {
  margin-left: 0.5rem;
}

.inline {
  display: inline-block;
}

/* Notifications */
#notifications {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}

.notification {
  position: relative;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.notification.success {
  border: 1px solid green;
  background-color: rgba(0, 150, 0, 0.95);
}

.notification.info {
  border: 1px solid yellow;
  background-color: rgba(200, 200, 0, 0.95);
  color: black;
}

.notification.error {
  border: 1px solid red;
  background-color: rgba(150, 0, 0, 0.9);
}

/* Builds */
#builds h2 {
  margin-bottom: 1.5rem;
}

#builds ul {
  list-style-type: "\1F539";
  margin-left: 0.5rem;
}

#builds li {
  border-radius: 5px;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

.main-pane {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  max-width: 30rem;
  background-color: var(--c-background);
}

.main-pane .main-pane-header {
  border-bottom: 1px solid var(--c-border);
  padding: 0.25rem 0.5rem;
}

.main-pane .main-pane-header h3 {
  margin: 0;
  padding: 0;
}

.main-pane-body {
  padding: 0.5rem;
}

.main-pane table {
  border: 1px solid var(--c-border);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  width: auto;
}

.main-pane th {
  border-bottom: 1px solid var(--c-border);
}

.main-pane th,
.main-pane td {
  padding: 0 0.25rem;
}

.main-pane p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.main-pane p:last-child {
  margin-bottom: 0;
}

.loading {
  background-color: var(--c-secondary);
  /* animation: loadingpulse 5s ease-in-out infinite; */
}

@keyframes loadingpulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Saved Build */
.saved-build {
  margin-bottom: 1.5rem;
}

/* Modals */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 1rem;
  background-color: var(--c-background);
  border: 1px solid var(--c-border);
  border-radius: 3px;
  box-shadow: 2px var(--c-text);
  transition: all 0.3s ease;
}

.modal-header {
  font-weight: bold;
}

.modal-header div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-footer {
  text-align: right;
  padding-top: 1.5em;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.share-modal {
  text-align: center;
}

.share-modal input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 5px;
}

.share-modal-status {
  margin: 0 auto;
  padding: 0.5rem 0;
}

/* Build Loader */
.build-loader {
  background-color: var(--c-background);
  margin: 1rem auto;
  border: 1px solid var(--c-border);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  min-height: 3rem;
}

.build-loader span {
  animation: loadingpulse 1s ease-in-out infinite;
}

/* Tooltips */
.tip {
  background-color: var(--c-tip-background);
  color: var(--c-tip-text);
  border: 1px solid var(--c-tip-border);
  border-radius: 3px;
  padding: 0px 0.5em;
  cursor: pointer;
}

.tip.tip-red {
  background-color:rgba(150, 0, 0, 0.9);
  color: white;
}

.v-popper--theme-tooltip {
  max-width: 30em;
}

/* Releases */
.releases {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-pane .release ul {
  list-style-type: disc;
  margin-left: 1.5em;
}

.release-body {
  max-width: 100%;
  word-break: break-word;
  font-family: inherit;
}
